body {
    background-image: url("img/back.jpeg") ; /* Path to the image */
    background-size: cover;            /* Make sure the image covers the screen */
    background-position: center;              /* Center the image */
    background-repeat: no-repeat;  
    margin-bottom: 1000px;           /* Prevent the image from repeating */
  }

.heading{
    margin-left: 65px;
    font-size:50px;
    font-family: sans-serif;
    color: rgb(255, 0, 0);
}

.rgb1{
  color: rgb(0, 0, 0);
  
}
.rgb2{
  color: rgba(95, 95, 100, 0.517);
}
.rgb3{
  color: rgb(46, 46, 90);
}

p{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}
