body {
    background-image: url("img/back.jpeg") ; /* Path to the image */
    background-size: cover;            /* Make sure the image covers the screen */
    background-position: center;              /* Center the image */
    background-repeat: no-repeat;  
    margin-bottom: 1000px;           /* Prevent the image from repeating */
  }

.heading{
    margin-left: 65px;
    font-size:50px;
    font-family: sans-serif;
    color: rgb(244, 89, 89);
}

.rgb1{
  color: blue;
  
}
.rgb2{
  color: rgb(40, 48, 136);
}
.rgb3{
  color: rgb(77, 77, 175);
}

p{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}
